:root {
  --offwhite1: #FCFBFA;
  --brown1: #664332;
  --cyan: #4FC1B7;
  --lightbrown: #EACBB7;
  --lightbrown2: #F9F4F0;
  --black: #262626;
}

@namespace svg url("http://www.w3.org/2000/svg");

@font-face {
  font-family: LeagueSpartan;
  src: url("../fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
}

@font-face {
  font-family: Vitigon;
  src: url("../fonts/VI-Ti-Gon/TIGON_1T.TTF") format("truetype-variations");
  font-weight: 100 1000;
}

body {
  background-color: var(--offwhite1);
  margin: 0;
  font-size: 0;
  overflow-x: hidden;
}

#home_btn_small {
  position: fixed;
  top: 0;
  left: 15.5%;
  z-index: 10;
  width: 114px;
}

/* Section 1 */

.section {
  position: relative;
}

#section_1 {
  background-image: url("../images/footsteps_1.png");
  background-repeat: no-repeat;
  background-position-x: 21.5vw;
}

#home_large {
  width: 328px;
}

.brands_div {
  display: inline-block;
  text-align: center;
}
#brands_div_1 {
  padding-bottom: 35px;
}

#and_life_begins_txt {
  font-family: Vitigon;
  font-variation-settings: "wght" 400;
  position: absolute;
  left: 62.5%;
  top: 58px;
  margin: 0;
  /* font-size: clamp(3rem, 25vmin, 8rem); */
  --bg-size: 400%;
  /* color: var(--brown1); */

  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
  background: linear-gradient(
    90deg,
    var(--color-one),
    var(--color-two),
    var(--color-one)
  ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
#olala_txt {
  font-family: LeagueSpartan;
  font-variation-settings: "wght" 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 30px auto 0 auto;
  color: var(--black);
}
.our_brands_txt {
  font-family: Vitigon;
  font-variation-settings: "wght" 300;
  font-size: 80px;
  line-height: 90px;
  text-align: center;
  margin: 1px auto 3px auto;
  color: var(--cyan);
  position: relative;
}

.brand_div {
  width: 250px;
  height: 240px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
}
.brand_inner_div {
  position: relative;
  height: 200px;
  background-size: 100%;
  border-radius: 8px;
  cursor: url("../images/Hand_Cyan_Right.svg"), auto;
}

.brand_inner_div_1 {
  background-color: var(--offwhite1);
  background-image: url("../images/brand_back_1.svg");
}

.brand_name {
  font-family: LeagueSpartan;
  font-variation-settings: "wght" 600;
  font-size: 38px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  position: relative;
  
}
.brand_name_1 {
  color: var(--brown1);
}

#brand_logo_1 {
  width: 90px;
  height: 90px;
  left: 80px;
  top: 28px;
}
#brand_logo_2 {
  width: 230px;
  height: 45px;
  left: 10px;
  top: 58px;
}
#brand_logo_3 {
  width: 191px;
  height: 45px;
  left: 30px;
  top: 52px;
}
#brand_logo_4 {
  width: 211px;
  height: 57px;
  left: 20px;
  top: 38px;
}
#brand_logo_5 {
  width: 182px;
  height: 50px;
  left: 34px;
  top: 45px;
}

.flag {
  position: absolute;
  top: 152px;
  height: 24px;
}
.flag_w33 {
  width: 33px;
  left: 109px
}
.flag_w36 {
  width: 36px;
  left: 107px
}
.flag_w28 {
  width: 28px;
  left: 111px
}
.flag_w41 {
  width: 41px;
  left: 105px
}
.flag_w45_5 {
  width: 45.5px;
  left: 103px
}

.side_photos_div {
  display: inline-block;
  text-align: center;
}
.side_photos_div_1 {
  margin-top: 72px;
}



.change_photos_btn {
  width: 160px;
  height:32px;
  border-radius: 8px;
  background-color: var(--brown1);
  font-family: LeagueSpartan;
  font-size: 16px;
  font-variation-settings: "wght" 600;
  color: white;
  border-width: 0;
  line-height: 36px;
  user-select: none;
  cursor: url("../images/Hand_White_Right.svg"), auto;
  position: relative;
  margin: 0 auto;
}
.change_photos_hand {
  position: absolute;
  left: 141px;
  top: 9px;
  width: 33px;
  height: 33px;
}

@media all and (min-width: 1350px)
{
  #and_life_begins_txt {
    font-size: 80px;
    /* font-size: 3.5vw; */
  }
  .brand_div {
    padding-left: calc(9vw - 110px);
    padding-right: calc(9vw - 110px);
  }
}
@media all and (min-width: 768px) and (max-width: 1349.97px)
{
  #and_life_begins_txt {
    font-size: 52px;
  }
  .brand_div {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media all and (min-width: 768px)
{
  #section_1 {
    display: flex;
  }
  #olala_txt {
    width: 750px;
  }
  .brands_div {
    margin: 0 240px;
  }
  #brands_div_2 {
    margin: 0 390px;
  }
  .side_photos_div {
    position: absolute;
    width: 232px;
  }
  .side_photos_div_left {
    left: calc(2.6vw - 18px);
  }
  
  .side_photos_div_right {
    right: calc(2.6vw - 18px);
  }
  .side_photo_div {
    margin: 24px 0;
  }
  .side_photo {
    margin: 4px;
    width: 224px;
    height: 224px;
    border-radius: 8px;
  }
  .side_photo_dream {
    width: 232px;
    height: 232px;
    margin: 16px 0;
  }
  .side_photo_rooms_div {
    position: relative;
    width: 240px;
    height: 240px;
    background-image: url("../images/Window.svg");
    margin: 24px 0;
  }
  .side_photo_rooms {
    position: absolute;
    bottom: 25px;
    left: 17px;
    width: 206px;
  }
  .change_rooms_btn {
    margin-bottom: 28px;
  }
  .change_photo_divs_div {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media all and (max-width: 767.97px)
{
  #home_large {
    zoom: 0.8;
  }
  .and_life_begins_txt {
    display: none;
  }
  .brand_div {
    zoom: 0.6;
    padding-left: calc(12.3vw - 34px);
    padding-right: calc(12.3vw - 34px);
  }
  .change_photo_divs_div {
    text-align: center;
  }
  .side_photos_div {
    position: relative;
    display: inline-block;
    padding-left: calc((12.3vw - 34px) * 3 / 5);
    padding-right: calc((12.3vw - 34px) * 3 / 5);
  }
  .side_photo {
    margin: 2.4px;
    width: 134.4px;
    height: 134.4px;
    display: block;
  }
  .side_photo_dream {
    width: 139.2px;
    height: 139.2px;
    display: block;
    margin: 16px 0;
  }
  .side_photo_rooms {

  }
  .change_photos_btn {
    display: none;
  }
}
@media all and (min-width: 1921px)
{
  .brand_div {
    padding: 12px calc(12vw - 126px);
  }
}

/* Section Bridge 1 */

#bridge_1_wall {
  position: relative;
  background-image: url("../images/brown_wall.svg");
  height: 464px;
}

.product {
  position: absolute;
  z-index: 2;
  transition: 1000ms;
} 
.animation {
  transform: scale(0);
}

.brown_wall_img {
  top: 95px
}

.floor {
  position: relative;
  background-image: url("../images/floor.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 170px;
  padding-bottom: 62px;
  background-color: var(--offwhite1);
}

#bridge_1_img_2_1 {
  top: -128px;
}
#bridge_1_img_2_2 {
  top: -124px;
}
#bridge_1_img_2_3 {
  top: -115px;
}
#bridge_1_img_2_4 {
  top: -144px;
}
#footsteps_2 {
  top: -67px;
  transform: rotate(51deg);
  width: 79.5px;
}

@media all and (min-width: 1350px)
{
  #brown_wall_img_1 {
    left: calc(20.36vw - 127px);
  }
  #brown_wall_img_2 {
    left: calc(50vw - 101px);
  }
  #brown_wall_img_3 {
    left: calc(79.63vw - 128px);
  }
  #bridge_1_img_2_1 {
    left: calc(18.42vw - 238px);
  }
  #bridge_1_img_2_2 {
    left: calc(24.22vw - 72px);
  }
  #bridge_1_img_2_3 {
    left: calc(46.1vw - 191px);
  }
  #bridge_1_img_2_4 {
    right: calc(7.54vw - 100px);
  }
  #footsteps_2 {
    left: calc(72vw - 220px);
  }
}
@media all and (min-width: 1920.03px)
{
  .floor {
    height: 170px;
    background-size: 100%;
  }
}
@media all and (max-width: 1349.97px)
{
  #brown_wall_img_1 {
    left: 10.96%;
  }
  #brown_wall_img_2 {
    left: 42.52%;
  }
  #brown_wall_img_3 {
    left: 70.15%;
  }
  #bridge_1_img_2_1 {
    left: 0.77%;
  }
  #bridge_1_img_2_2 {
    left: 18.9%;
  }
  #bridge_1_img_2_3 {
    left: 31.93%;
  }
  #bridge_1_img_2_4 {
    left: 61.41%;
  }
  #footsteps_2 {
    left: 55.8%;
  }
}

/* Showcase 1 */

.showcase_div {
  outline: 2px solid var(--brown1);
  position: relative;
  margin: 2px 0;
  background-color: white;
}
.showcase {
  outline: 1px solid var(--brown1);
  background-color: var(--offwhite1);
}

.showcase_side {
  outline: 1px solid var(--brown1);
}
.showcase_item {
  margin: 5px 0;
  cursor: pointer;
}
.showcase_line_middle {
  outline: 1px solid var(--brown1);
}
.showcase_wave {
  width: calc(100% + 2px);
  display: block;
  margin: -1px 0 0 -1px;
}

.showcase_large_item_div {
  display: inline-block;
}
.showcase_large_item {
  transition: 1000ms;
  transform-origin: center;
  margin: 0 29.5px;
}

.showcase_below {
  position: relative;
}

.showcase_item_name {
  width: 100%;
  font-family: LeagueSpartan;
  font-size: 40px;
  font-variation-settings: "wght" 600;
  line-height: 44px;
  color: var(--brown1);
  text-align: center;
  margin: 0;
  padding: 12px 0 6px;
}
.click_photo_div {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 15px;
}
.click_photo_hand {
  display: inline-block;
}
.click_photo_txt {
  display: inline-block;
  font-family: LeagueSpartan;
  font-size: 24px;
  font-variation-settings: "wght" 600;
  line-height: 24px;
  color: var(--brown1);
  margin: 7px 0 0 5px;
  vertical-align: top;
  user-select: none;
}

@media all and (min-width: 1350px)
{
  .showcase_item {
    width: 80px;
    height: 80px;
  }
  .showcase_item_pad_left {
    margin-left: calc(9.37vw - 110.5px);
  }
  .showcase_item_pad_right {
    margin-right: calc(9.37vw - 110.5px);
  }
  .click_photo_div_1 {
    left: calc(23.3vw - 155px);
  }
  .click_photo_div_2 {
    right: calc(23.3vw - 155px);
  }
}
@media all and (min-width: 768px)
{
  .showcase {
    display: flex;
    justify-content: space-between;
  }
  
  .showcase_side {
    display: inline-block;
  }
  .showcase_large_item_div {
    outline: 1px solid var(--brown1);
  }
  .showcase_large_item {
    width: 270px;
    height: 270px;
  }
}
@media all and (min-width: 768px) and (max-width: 1349.97px)
{
  .showcase_item {
    width: 80px;
    height: 80px;
  }
  .showcase_item_pad_left {
    margin-left: 16px;
  }
  .showcase_item_pad_right {
    margin-right: 16px;
  }
  .showcase_large_item {
    width: 270px;
    height: 270px;
  }
  .click_photo_div_1 {
    left: 160px;
  }
  .click_photo_div_2 {
    right: 160px;
  }
}
@media all and (max-width: 767.97px)
{
  .showcase {
    display: block;
    text-align: center;
  }
  .showcase_side {
    display: block;
  }
  .showcase_item {
    width: calc(4.46vw + 45.7px);
    height: calc(4.46vw + 45.7px);
    margin: 5px 0;
  }
  .showcase_item_pad_left {
    margin-left: calc(15vw - 46.6px);
  }
  
  .showcase_item_pad_right {
    margin-right: calc(15vw - 46.6px);
  }
  .showcase_large_item_div {
    border: 1px solid var(--brown1);
  }
  .showcase_large_item {
    width: 135px;
    height: 135px;
    margin: 8px 24px;
  }
}

/* Bridge 2 */

#bridge_2 {
  background-image: url("../images/blue_wall_1.svg");
  height: 1160px;
  position: relative;
}
.bridge_2_img_1 {
  top: 96px;
}
#floor_2 {
  top: 464px;
}
#bridge_2_img_2_1 {
  top: 276px;
}
#bridge_2_img_2_2 {
  top: 347px;
}
#bridge_2_img_2_3 {
  top: 547px;
}
#bridge_2_img_2_4 {
  top: 404px;
}
#bridge_2_img_2_5 {
  top: 538px;
}
#bridge_2_img_2_6 {
  top: 415px;
}
#bridge_2_img_2_7 {
  top: 325px;
}

#footsteps_3 {
  width: 78px;
  transform: rotate(-48deg);
  top: 428px;
}
#bridge_2_img_2_8 {
  top: 232px;
}

#bridge_2_img_3_1 {
  top: 770px;
}
#bridge_2_img_3_2 {
  top: 855px;
}
#bridge_2_img_3_3 {
  top: 743px;
}
#bridge_2_img_3_4 {
  top: 770px;
}

#bridge_2_img_4_1 {
  bottom: -28px;
}
#bridge_2_img_4_2 {
  bottom: -38px;
}
#bridge_2_img_4_3 {
  bottom: -30px;
}
#bridge_2_img_4_4 {
  bottom: 0;
}
#bridge_2_img_4_5 {
  bottom: -80px;
}
#bridge_2_img_4_6 {
  bottom: -25px;
}
@media all and (min-width: 1350px)
{
  #bridge_2_img_1_1 {
    left: calc(20vw - 48px);
  }
  #bridge_2_img_1_2 {
    left: calc(40vw - 48px);
  }
  #bridge_2_img_1_3 {
    left: calc(60vw - 48px);
  }
  #bridge_2_img_1_4 {
    left: calc(80vw - 48px);
  }

  #bridge_2_img_2_1 {
    left: calc(6vw - 75px);
  }
  #bridge_2_img_2_2 {
    left: calc(19vw - 99.5px);
  }
  #bridge_2_img_2_3 {
    left: calc(32.5vw - 77.5px);
  }
  #bridge_2_img_2_4 {
    left: calc(43.3vw - 94px);
  }
  #bridge_2_img_2_5 {
    left: calc(49vw - 77.5px);
  }
  #bridge_2_img_2_6 {
    left: calc(59.5vw - 100.5px);
  }
  #bridge_2_img_2_7 {
    left: calc(72vw - 93.5px);
  }
  #footsteps_3 {
    left: calc(75.4vw + 95.5px);
  }
  #bridge_2_img_2_8 {
    left: calc(89vw - 128.5px);
  }

  #bridge_2_img_3_1 {
    left: calc(13.8vw - 54px);
  }
  #bridge_2_img_3_2 {
    left: calc(32.3vw - 64px);
  }
  #bridge_2_img_3_3 {
    left: calc(49.5vw - 53px);
  }
  #bridge_2_img_3_4 {
    left: calc(85.5vw - 54px);
  }

  #bridge_2_img_4_1 {
    left: calc(7.1vw - 92px);
  }
  #bridge_2_img_4_2 {
    left: calc(25.6vw - 95px);
  }
  #bridge_2_img_4_3 {
    left: calc(43.4vw - 88.5px);
  }
  #bridge_2_img_4_4 {
    left: calc(60.6vw - 71px);
  }
  #bridge_2_img_4_5 {
    left: calc(76.4vw - 70.5px);
  }
  #bridge_2_img_4_6 {
    left: calc(92.5vw - 82.5px);
  }
}
@media all and (max-width: 1349.97px)
{
  #bridge_2_img_1_1 {
    left: 16.4%;
  }
  #bridge_2_img_1_2 {
    left: 36.4%;
  }
  #bridge_2_img_1_3 {
    left: 56.4%;
  }
  #bridge_2_img_1_4 {
    left: 76.4%;
  }

  #bridge_2_img_2_1 {
    left: 0.45%;
  }
  #bridge_2_img_2_2 {
    left: 11.6%;
  }
  #bridge_2_img_2_3 {
    left: 26.8%;
  }
  #bridge_2_img_2_4 {
    left: 36.3%;
  }
  #bridge_2_img_2_5 {
    left: 43.3%;
  }
  #bridge_2_img_2_6 {
    left: 52%;
  }
  #bridge_2_img_2_7 {
    left: 65.1%;
  }
  #footsteps_3 {
    left: 82.5%;
  }
  #bridge_2_img_2_8 {
    left: 79.5%;
  }

  #bridge_2_img_4_1 {
    left: 0.29%;
  }
  #bridge_2_img_4_2 {
    left: 18.5%;
  }
  #bridge_2_img_4_3 {
    left: 36.8%;
  }
  #bridge_2_img_4_4 {
    left: 55.3%;
  }
  #bridge_2_img_4_5 {
    left: 71.2%;
  }
  #bridge_2_img_4_6 {
    left: 86.37%;
    bottom: -25px;
  }
}
/* Section 2 */

#section_2 {
  /* background-image: url("../images/night_back.png"); */
  /* background-image: url("../Background\ -\ Night.mpeg"); */
  position: relative;
  height: 1080px;
  background-position-x: center;
}


#brands_div_2 {
  margin-top: 72px;  
}
.brand_name_2 {
  color: var(--lightbrown);
}
#brand_logo_6 { 
  width: 230px;
  height: 46px;
  left: 10px;
  top: 53px;
}
#brand_logo_7 { 
  width: 90px;
  height: 99.5px;
  left: 80px;
  top: 28px;
}
#brand_logo_8 { 
  width: 163.5px;
  height: 55px;
  left: 43px;
  top: 47px;
}
#brand_logo_9 { 
  width: 166px;
  height: 74px;
  left: 42px;
  top: 39px;
}

.brand_inner_div_2 {
  background-image: url("../images/brand_back_2.svg");
}

.side_photos_div_2 {
  margin-top: 48px;
}

.dream_circles {
  display: none;
}

.change_dreams_btn {
  background-color: rgb(79, 193, 183, 0.75);
  margin-bottom: 16px;
}

@media all and (min-width: 1520px)
{
  .dream_circles {
    display: block;
    position: absolute;
  }
  .dream_circles_left {
    left: 266px; 
  }
  .dream_circles_right {
    right: 262px;
    transform: rotateY(180deg);
  }
  .dream_circles_top {
    top: 300px;
  }
  .dream_circles_middle {
    top: 565px;
  }
  .dream_circles_bottom {
    top: 830px;
  }
}

@media all and (min-width: 1921px)
{
  #section_2 {
    background-size: 100%;
  }
  #video_background {
    position: absolute;
    width: 100%;
  }
}
@media all and (max-width: 1920px)
{
  #video_background {
    position: absolute;
    left: calc((100vw - 1920px - 15px) / 2);
    height: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 1349.97px)
{
  #video_background {
    left: -292px;
  }
}

/* Section 3 */
#bridge_3 {
  background-image: url("../images/blue_back_2.svg");
  height: 464px;
  position: relative;
}

#bridge_3_img_2_1 {
  left: -39px;
  top: -160px;
}
#bridge_3_img_2_2 {
  left: -36px;
  top: -36px;
  z-index: 0;
}
#bridge_3_img_2_3 {
  top: -162px;
}
#bridge_3_img_2_4 {
  top: -7px;
  z-index: 0;
}
#bridge_3_img_2_5 {
  top: -115px;
}
#bridge_3_img_2_6 {
  top: -53px;
  z-index: 0;
}
#bridge_3_img_2_7 {
  top: -114px;
}
#bridge_3_img_2_8 {
  top: -7px;
  z-index: 0;
}
#bridge_3_img_2_9 {
  top: -92px;
}
#bridge_3_img_2_10 {
  right: -92px;
  top: -171px;
}

#footsteps_4 {
  top: 397px;
  transform: rotate(-51deg) scalex(-1);
  width: 79.5px;
}
#bridge_3_img_3_1 {
  top: 143px;
}
#bridge_3_img_3_2 {
  top: 283px;
}
#bridge_3_img_3_3 {
  top: 308px;
}
#bridge_3_img_3_4 {
  top: 242px;
}

@media all and (min-width: 1350px)
{
  #bridge_3_img_2_3 {
    left: calc(15.5vw - 91.5px);
  }
  #bridge_3_img_2_4 {
    left: calc(29vw - 64.5px);
  }
  #bridge_3_img_2_5 {
    left: calc(43.5vw - 50.5px);
  }
  #bridge_3_img_2_6 {
    left: calc(49.5vw - 47.5px);
  }
  #bridge_3_img_2_7 {
    left: calc(59.5vw - 60.5px);
  }
  #bridge_3_img_2_8 {
    left: calc(70vw - 75px);
  }
  #bridge_3_img_2_9 {
    left: calc(83.8vw - 77.5px);
  }

  #footsteps_4 {
    left: calc(24.6vw - 68px);
  }
  #bridge_3_img_3_1 {
    left: calc(10.3vw - 137px);
  }
  #bridge_3_img_3_2 {
    left: calc(34.3vw - 200px);
  }
  #bridge_3_img_3_3 {
    left: calc(58.6vw - 201px);
  }
  #bridge_3_img_3_4 {
    left: calc(85.8vw - 246px);
  }
}

@media all and (max-width: 1349.97px)
{
  #bridge_3_img_2_3 {
    left: 8.7%;
  }
  #bridge_3_img_2_4 {
    left: 24.2%;
  }
  #bridge_3_img_2_5 {
    left: 39.8%;
  }
  #bridge_3_img_2_6 {
    left: 46%;
  }
  #bridge_3_img_2_7 {
    left: 55%;
  }
  #bridge_3_img_2_8 {
    left: 64.4%;
  }
  #bridge_3_img_2_9 {
    left: 78%;
  }

  #footsteps_4 {
    left: 19.6%;
  }
  #bridge_3_img_3_1 {
    left: 0.15%;
  }
  #bridge_3_img_3_2 {
    left: 19.5%;
  }
  #bridge_3_img_3_3 {
    left: 43.7%;
  }
  #bridge_3_img_3_4 {
    left: 67.6%;
  }
}

/* Bridge 4 */

#bridge_4 {
  background-image: url("../images/blue_back_3.svg");
  height: 632px;
  position: relative;
}

.butterfly {
  position: absolute;
  z-index: 1;
}
#butterfly_1 {
  left: 48px;
  top: 448px;
  width: 25px;
  height: 25px;
  transform: rotate(21deg);
}
#butterfly_2 {
  left: 296px;
  top: 188px;
  width: 20px;
  height: 20px;
  transform: rotate(-18deg);
}
#butterfly_3 {
  left: 414px;
  top: 434px;
  width: 22px;
  height: 22px;
  transform: rotate(6deg);
}
#butterfly_4 {
  left: 670px;
  top: 618px;
  width: 25px;
  height: 25px;
  transform: rotate(-12deg);
}
#butterfly_5 {
  left: 905px;
  top: 333px;
  width: 20px;
  height: 20px;
}
#butterfly_6 {
  right: 677px;
  top: 122px;
  width: 20px;
  height: 20px;
  transform: rotate(-21deg);
}
#butterfly_7 {
  right: 600px;
  top: 584px;
  width: 22px;
  height: 22px;
  transform: rotate(-27deg);
}
#butterfly_8 {
  right: 180px;
  top: 325px;
  width: 20px;
  height: 20px;
  transform: rotate(25deg);
}
#butterfly_9 {
  right: 28px;
  top: 524px;
  width: 22px;
  height: 22px;
  transform: rotate(-27deg);
}
#floor_4 {
  top: 463px;
}

.absolute {
  position: absolute;
}
#cloud_1 {
  top: 100px;
  width: 206px;
  height: 91px;
}
#cloud_2 {
  top: 32px;
  width: 195px;
  height: 68px;
}
#cloud_3 {
  top: 20px;
  width: 206px;
  height: 91px;
}

#bridge_4_img_1_1 {
  top: 48px;
}
#bridge_4_img_1_2 {
  top: 100px;
}
#bridge_4_img_1_3 {
  top: 77px;
}
#bridge_4_img_1_4 {
  top: 164px;
}

#bridge_4_img_2_1 {
  top: 282px;
}
#bridge_4_img_2_2 {
  top: 386px;
}
#bridge_4_img_2_3 {
  top: 300px;
}
#bridge_4_img_2_4 {
  top: 270px;
}
#bridge_4_img_2_5 {
  top: 343px;
}
#bridge_4_img_2_6 {
  top: 339px;
}

#floor_4 {
  background-color: var(--lightbrown);
  padding: 0;
}

@media all and (min-width: 1350px)
{
  #cloud_1 {
    left: calc(7vw - 90px);
  }
  #cloud_2 {
    left: calc(36.5vw - 98px);
  }
  #cloud_3 {
    left: calc(88vw - 103px);
  }

  #bridge_4_img_1_1 {
    left: calc(22.2vw - 74.5px);
  }
  #bridge_4_img_1_2 {
    left: calc(51.5vw - 101.5px);
  }
  #bridge_4_img_1_3 {
    left: calc(71.95vw - 69.5px);
  }
  #bridge_4_img_1_4 {
    left: calc(91.6vw - 90.5px);
  }
  
  #bridge_4_img_2_1 {
    left: calc(9.3vw - 86.5px);
  }
  #bridge_4_img_2_2 {
    left: calc(30.3vw - 40.5px);
  }
  #bridge_4_img_2_3 {
    left: calc(39.2vw - 67px);
  }
  #bridge_4_img_2_4 {
    left: calc(57.4vw - 76px);
  }
  #bridge_4_img_2_5 {
    left: calc(79.5vw - 138px);
  }
  #bridge_4_img_2_6 {
    left: calc(79.5vw + 3px);
  }
}

@media all and (max-width: 1349.97px)
{
  #cloud_1 {
    left: 0.33RF%;
  }
  #cloud_2 {
    left: 29.2%;
  }
  #cloud_3 {
    left: 80.4%;
  }

  #bridge_4_img_1_1 {
    left: 16.7%;
  }
  #bridge_4_img_1_2 {
    left: 44%;
  }
  #bridge_4_img_1_3 {
    left: 66.8%;
  }
  #bridge_4_img_1_4 {
    left: 84.9%;
  }
  
  #bridge_4_img_2_1 {
    left: 2.9%;
  }
  #bridge_4_img_2_2 {
    left: 27.3%;
  }
  #bridge_4_img_2_3 {
    left: 34.2%;
  }
  #bridge_4_img_2_4 {
    left: 51.8%;
  }
  #bridge_4_img_2_5 {
    left: 69.3%;
  }
  #bridge_4_img_2_6 {
    left: 79.7%;
  }
}

/* Section 3 */

#section_3 {
  background-image: url("../images/butterflies_back.svg");
  /* height: 912px; */
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 40px;
  text-align: center;
  position: relative;
  background-color: var(--offwhite1);
}
#brands_div_3 {
  margin-top: 38px;
}

#brand_logo_10 {
  width: 230px;
  height: 51px;
  left: 11.5px;
  top: 59px;
}
#brand_logo_11 { 
  width: 127px;
  height: 90px;
  left: 61px;
  top: 33px;
}
#brand_logo_12 { 
  width: 211px;
  height: 34px;
  left: 20px;
  top: 61px;
}
#brand_logo_13 {
  width: 232px;
  height: 65px;
  left: 10px;
  top: 37px;
}
#brand_logo_14 { 
  width: 211px;
  height: 77px;
  left: 22px;
  top: 51px;
}

.brand_inner_div_3 {
  background-color: var(--lightbrown2);
  background-image: url("../images/brand_back_1.svg");
}

#contact_div {
  position: relative;
  text-align: center;
}
.contact_wave {
  position: absolute;
  width: 320px;
  left:-1px;
  top: -1px;
}
#google_map {
  outline: solid 1px var(--brown1);
}
#google_map_cover {
  position: absolute;
  width: 318px;
  z-index: 5;
  left: 0;
  top: 79px;
  outline: solid 1px var(--brown1);
}
#darken_map {
  height: 100%;
  width: 100%;
  background-color: rgb(102, 67, 50, 0.70);
  position: absolute;
  left:0;
  top:0;
}

#contact_inner_div {
  position: relative;
  width: 318px;
  height: 320px;
  outline: solid 1px var(--brown1);
  background-color: var(--lightbrown2);
  text-align: center;
  vertical-align: top;
}
#contact_txt {
  font-family: Vitigon;
  font-size: 64px;
  color: var(--brown1);
  margin: 0;
  padding-top: 11px;
}
#contact_info {
  font-family: LeagueSpartan;
  font-size: 20px;
  line-height: 28px;
  font-variation-settings: "wght" 300;
  color: var(--black);
  margin: 0;
}
#instagram_icon {
  fill: var(--cyan);
  width: 24px;
  position: absolute;
  top: 160px;
  left: 250px;
}


#contact_photo_div {
  position: relative;
  outline: solid 1px var(--brown1);
}
#contact_photo {
  width: 318px;
  height: 320px;
}

#change_season_div {
  text-align: center;
  padding: 30px 0;
}

@media all and (min-width: 768px) and (max-width: 1349.97px)
{
  .fb_iframe_widget iframe {
    display: none;
  }
}

@media all and (min-width: 768px)
{
  #contact_div {
    width: 1176px;
    margin: 250px auto 0 auto;
    outline: solid 1px var(--brown1);
  }
  #contact_inner_div {
    margin: 0 48px;
  }
  .contact_div_piece {
    display: inline-block;
  }
}
@media all and (max-width: 767.97px)
{
  .contact_div_piece {
    display: block;
    width: 318px;
    margin: 24px auto;
  }
  
}

/* Street */

#street {
  background-image: url("../images/street.svg");
  height: 664px;
  background-position-x: center;
  position: relative;
  background-color: var(--offwhite1);
}
#bottom_div {
  position: relative;
  text-align: center;
}

.photo_viewer {
  display: inline-block;
  /* height: 15.4vw; */
  background-color: var(--brown1);
  vertical-align: top;
}
#photo_viewer_1 {
  left: 0;
  border-radius: 0 10px 0 0;
}
#photo_viewer_2 {
  right: 0;
  border-radius: 10px 0 0 0;
}

.click_photo_div_bottom {
  margin: 0.3vw 0;
}

.click_photo_bottom_txt {
  color: var(--offwhite1);
  font-size: 1.25vw;
  line-height: 1.25vw;
  margin: 0.365vw 0 0 0.26vw;
}
.click_photo_hand_bottom {
  width: 1.72vw;
  height: 1.72vw;
}

.store_photos_div {
  display: flex;
  justify-content: space-evenly;
}
.store_photo {
  width: 13.28vw;
  display: inline-block;
}
.lb-caption {
  font-family: LeagueSpartan;
}
.lb-number {
  margin-top: 8px;
}

.copyright_txt {
  font-family: LeagueSpartan;
  font-size: 0.833vw;
  font-variation-settings: "wght" 300;
  color: var(--offwhite1);
  margin: 9px 0 5px 0;
}

#copyright_txt:hover {
  color: var(--cyan);
}

#home_large_bottom {
  width: 17%;
  vertical-align: bottom;
}
@media all and (min-width: 768px)
{
  .photo_viewer {
    width: 41.5%;
  }
  .store_photo {
    width: 13.28vw;
  }
}

@media all and (max-width: 767.97px)
{
  .photo_viewer {
    width: 100%;
  }
  .store_photo {
    width: 30vw;
  }
  #home_large_bottom {
    display: none;
  }
}
@media all and (min-width: 1920.03px)
{
  #street {
    background-size: 100%;
  }
}