body {
  background-color: gray;
  margin: 50px 0;
}

.container {
  font-size: 0;
}

.side_container {
  width: 30%;
  font-size: 0;
  vertical-align: middle;
  display: inline-flex;
  justify-content: space-between;
}

.middle_container {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  text-align: center;
}

.test {
  display: inline-block;
  width: 30%;
}

.middle_img {
  width: 70%;
  opacity: 1;
}


.middle_img.appear {
  transition: 1s;
  opacity: 1;
}

.middle_img.disappear {
  transition: 1s;
  opacity: 0;
}