:root {
  --offwhite1: #FCFBFA;
  --brown1: #664332;
  --cyan: #4FC1B7;
  --lightbrown: #EACBB7;
  --black: #262626;
}

@font-face {
  font-family: LeagueSpartan;
  src: url("fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 1000;
}

@font-face {
  font-family: Vitigon;
  src: url("fonts/VI-Ti-Gon/TIGON_1T.TTF") format("truetype-variations");
  font-weight: 100 1000;
}

body {
  background-color: var(--offwhite1);
  margin: 0;
  font-size: 0;
}

#home_btn_small {
  position: fixed;
  top: 0;
  left: 15.5%;
}

/* Section 1 */

.section {
  position: relative;
}

#section_1 {
  background-image: url(images/footsteps_1.svg);
  background-repeat: no-repeat;
  background-position-x: 21.5vw;
}

.brands_div {
  display: inline-block;
  text-align: center;
}

#and_life_begins_txt {
  font-family: Vitigon;
  font-variation-settings: "wght" 400;
  position: absolute;
  left: 62.5%;
  top: 58px;
  margin: 0;
  color: var(--brown1);
}
#olala_txt {
  font-family: LeagueSpartan;
  font-variation-settings: "wght" 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 30px auto 0 auto;
  color: var(--black);
}
.our_brands_txt {
  font-family: Vitigon;
  font-variation-settings: "wght" 300;
  font-size: 80px;
  line-height: 90px;
  text-align: center;
  margin: 1px auto 3px auto;
  color: var(--cyan);
}

.brand_div {
  width: 250px;
  height: 240px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
}
.brand_inner_div {
  position: relative;
  height: 200px;
  background-size: 100%;
  border-radius: 8px;
}
.brand_inner_div_1 {
  background-color: var(--offwhite1);
  background-image: url(images/brand_back_1.svg);
}

.brand_name {
  font-family: LeagueSpartan;
  font-variation-settings: "wght" 600;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  
}
.brand_name_1 {
  color: var(--brown1);
}
.brand_logo {
  background: url("images/logos/stokke.svg");
  position: absolute;
  width: 90px;
  height: 90px;
  left: 80px;
  top: 12px;
}
.brand_txt {
  position: absolute;
  top: 126px;
  left: 0;
  margin: 0 13px;
  text-align: center;
  font-family: LeagueSpartan;
  font-variation-settings: "wght" 300;
  font-size: 20px;
  line-height: 22px;
}
.brand_txt_1 {
  color: var(--black);
}

.side_photos_div {
  display: inline-block;
  text-align: center;
}
.side_photos_div_1 {
  margin-top: 72px;
}
.side_photo {
  margin: 16px 0;
}

@media all and (min-width: 1350px)
{
  #and_life_begins_txt {
    font-size: 80px;
    /* font-size: 3.5vw; */
  }
  .brand_div {
    padding-left: calc(9vw - 110px);
    padding-right: calc(9vw - 110px);
  }
}
@media all and (min-width: 768px) and (max-width: 1349.97px)
{
  #and_life_begins_txt {
    font-size: 52px;
  }
  .brand_div {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media all and (min-width: 768px)
{
  #section_1 {
    display: flex;
  }
  #olala_txt {
    width: 750px;
  }
  .brands_div {
    margin: 0 240px;
  }
  .side_photos_div {
    position: absolute;
    width: 232px;
  }
  #side_photos_div_left {
    left: calc(1.2vw - 9px);
  }
  
  #side_photos_div_right {
    right: calc(1.2vw - 9px);
  }
  .side_photo {
    width: 232px;
  }
}
@media all and (max-width: 767.97px)
{
  #section_1 {
  }
  #home_large {
    zoom: 0.8;
  }
  .and_life_begins_txt {
    display: none;

  }
  #olala_txt {
    

  }
  .our_brands_txt {

  }
  .test {
  }
  .brand_div {
    zoom: 0.6;
    padding-left: calc(12.3vw - 34px);
    padding-right: calc(12.3vw - 34px);
  }
  .side_photos_div {
    position: relative;
    display: inline-block;
    width: 148px;
    padding-left: calc(12.3vw - 34px);
    padding-right: calc(12.3vw - 34px);
  }
  .side_photo {
    width: 148px;
  }
  .change_photos_btn {
    display: none;
  }
  #change_photos_btn_1 {
    display: block;
    position: absolute;
    left: calc(50vw - 82px);
    top: -30px;
  }
}
@media all and (min-width: 1921px)
{
  .brand_div {
    padding: 12px calc(12vw - 126px);
  }
}

/* Section Bridge 1 */

#bridge_1_wall {
  position: relative;
  background-image: url(images/brown_wall.svg);
  height: 464px;
}

.product {
  position: absolute;
  z-index: 1;
} 

.brown_wall_img {
  top: 95px
}

.floor {
  position: relative;
  background-image: url("images/floor.svg");
  background-position: center;
  margin-bottom: 62px;
}

#footsteps_2 {
  transform: rotate(51deg);
}

@media all and (min-width: 1350px)
{
  #brown_wall_img_1 {
    left: calc(20.36vw - 127px);
  }
  #brown_wall_img_2 {
    left: calc(50vw - 101px);
  }
  #brown_wall_img_3 {
    left: calc(79.63vw - 128px);
  }
  .floor {
    height: 170px;
  }
  #floor_1_img_1 {
    left: calc(18.42vw - 238px);
    top: -128px;
  }
  #floor_1_img_2 {
    left: calc(24.22vw - 72px);
    top: -124px;
  }
  #floor_1_img_3 {
    left: calc(46.1vw - 191px);
    top: -115px;
  }
  #floor_1_img_4 {
    right: calc(7.54vw - 100px);
    top: -144px;
  }
  #footsteps_2 {
    left: calc(72vw - 220px);
    top: -66px;
    transform: rotate(51deg);
  }
}
@media all and (min-width: 1920.03px)
{
  .floor {
    height: calc(170 * 100vw / 1920);
    background-size: 100%;
  }
}
@media all and (max-width: 1349.97px)
{
  #bridge_1_wall {
    height: calc(100vw / 1350 * 464);
  }
  #brown_wall_img_1 {
    left: 10.96%;
    width: calc(100vw / 1350 * 203);
  }
  #brown_wall_img_2 {
    left: 42.52%;
    width: calc(100vw / 1350 * 203);
  }
  #brown_wall_img_3 {
    left: 70.15%;
    width: calc(100vw / 1350 * 256);
  }

  .floor {
    background-size: 100%;
    height: 8.8vw;
  }
  #floor_1_img_1 {
    width: 11.03%;
    left: 0.77%;
    top: calc(100vw / 1350 * -148);
  }
  #floor_1_img_2 {
    width: 10.67%;
    left: 16.7%;
    top: calc(100vw / 1350 * -150);
  }
  #floor_1_img_3 {
    width: 28.22%;
    left: 31.93%;
    top: calc(100vw / 1350 * -140);
  }
  #floor_1_img_4 {
    width: 37.78%;
    left: 61.41%;
    top: calc(100vw / 1350 * -170);
  }
  #footsteps_2 {
    width: 4.25%;
    left: 60%;
    top: calc(100vw / 1350 * -48);
  }
}

/* Showcase 1 */

.showcase {
  outline: 1px solid var(--brown1);
  margin-bottom: 1px;
}

.showcase_side {
  outline: 1px solid var(--brown1);
}
.showcase_item {
  margin: 5px 0;
}
.showcase_line_middle {
  outline: 1px solid var(--brown1);
}

.showcase_large_item_div {
  display: inline-block;
}

@media all and (min-width: 1350px)
{
  .showcase_item {
    width: 80px;
    height: 80px;
  }
  .showcase_item_pad_left {
    margin-left: calc(9.37vw - 110.5px);
  }
  .showcase_item_pad_right {
    margin-right: calc(9.37vw - 110.5px);
  }
}
@media all and (min-width: 768px)
{
  .showcase {
    display: flex;
    justify-content: space-between;
  }
  
  .showcase_side {
    display: inline-block;
  }
  .showcase_large_item_div {
    outline: 1px solid var(--brown1);
    padding: 0 29.5px;
  }
  .showcase_large_item {
    width: 270px;
    height: 270px;
  }
}
@media all and (min-width: 768px) and (max-width: 1349.97px)
{
  .showcase_item {
    width: calc(80 * 100vw / 1350);
    height: calc(80 * 100vw / 1350);
  }
  .showcase_item_pad_left {
    margin-left: calc(16 * 100vw / 1350);
  }
  .showcase_item_pad_right {
    margin-right: calc(16 * 100vw / 1350);
  }
  .showcase_large_item_div {
    padding: 0 calc(29.5 * 100vw / 1350);
  }
  .showcase_large_item {
    width: calc(270 * 100vw / 1350);
    height: calc(270 * 100vw / 1350);
  }
}
@media all and (max-width: 767.97px)
{
  .showcase {
    display: block;
    text-align: center;
  }
  .showcase_side {
    display: block;
  }
  .showcase_item {
    width: calc(4.46vw + 45.7px);
    height: calc(4.46vw + 45.7px);
    margin: 5px 0;
  }
  .showcase_item_pad_left {
    margin-left: calc(15.2vw - 46.6px);
  }
  
  .showcase_item_pad_right {
    margin-right: calc(15.2vw - 46.6px);
  }
  .showcase_large_item_div {
    border: 1px solid var(--brown1);
    padding: 8px 24px;
  }
  .showcase_large_item {
    width: 135px;
    height: 135px;
  }
}

/* Bridge 2 */

#bridge_2 {
  background-image: url("images/blue_wall_1.svg");
  height: 1160px;
  position: relative;
}
.bridge_2_img_1 {
  top: 96px;
}

#floor_2 {
  position: absolute;
  top: 464px;
  width: 100%;
  height: 232px;
  background-image: url("images/floor_2.svg");
  background-position: center;
}
#bridge_2_img_2_1 {
  top: 276px;
}
#bridge_2_img_2_2 {
  top: 347px;
}
#bridge_2_img_2_3 {
  top: 547px;
}
#bridge_2_img_2_4 {
  top: 404px;
}
#bridge_2_img_2_5 {
  top: 538px;
}
#bridge_2_img_2_6 {
  top: 415px;
}
#bridge_2_img_2_7 {
  top: 325px;
}
#bridge_2_img_2_8 {
  top: 232px;
}

#bridge_2_img_3_1 {
  top: 770px;
}
#bridge_2_img_3_2 {
  top: 855px;
}
#bridge_2_img_3_3 {
  top: 743px;
}
#bridge_2_img_3_4 {
  top: 770px;
}

#bridge_2_img_4_1 {
  bottom: -28px;
}
#bridge_2_img_4_2 {
  bottom: -38px;
}
#bridge_2_img_4_3 {
  bottom: -30px;
}
#bridge_2_img_4_4 {
  bottom: 0;
}
#bridge_2_img_4_5 {
  bottom: -80px;
}
#bridge_2_img_4_6 {
  bottom: -25px;
}
@media all and (min-width: 1350px)
{
  #bridge_2_img_1_1 {
    left: calc(20vw - 48px);
  }
  #bridge_2_img_1_2 {
    left: calc(40vw - 48px);
  }
  #bridge_2_img_1_3 {
    left: calc(60vw - 48px);
  }
  #bridge_2_img_1_4 {
    left: calc(80vw - 48px);
  }

  #bridge_2_img_2_1 {
    left: calc(6vw - 75px);
  }
  #bridge_2_img_2_2 {
    left: calc(19vw - 99.5px);
  }
  #bridge_2_img_2_3 {
    left: calc(32.5vw - 77.5px);
  }
  #bridge_2_img_2_4 {
    left: calc(43.3vw - 94px);
  }
  #bridge_2_img_2_5 {
    left: calc(49vw - 77.5px);
  }
  #bridge_2_img_2_6 {
    left: calc(59.5vw - 100.5px);
  }
  #bridge_2_img_2_7 {
    left: calc(72vw - 93.5px);
  }
  #bridge_2_img_2_8 {
    left: calc(89vw - 128.5px);
  }

  #bridge_2_img_3_1 {
    left: calc(13.8vw - 54px);
  }
  #bridge_2_img_3_2 {
    left: calc(32.3vw - 64px);
  }
  #bridge_2_img_3_3 {
    left: calc(49.5vw - 53px);
  }
  #bridge_2_img_3_4 {
    left: calc(85.5vw - 54px);
  }

  #bridge_2_img_4_1 {
    left: calc(7.1vw - 92px);
  }
  #bridge_2_img_4_2 {
    left: calc(25.6vw - 95px);
  }
  #bridge_2_img_4_3 {
    left: calc(43.4vw - 88.5px);
  }
  #bridge_2_img_4_4 {
    left: calc(60.6vw - 71px);
  }
  #bridge_2_img_4_5 {
    left: calc(76.4vw - 70.5px);
  }
  #bridge_2_img_4_6 {
    left: calc(92.5vw - 82.5px);
  }
}
@media all and (max-width: 1349.97px)
{
  #bridge_2_img_1_1 {

  }
  #bridge_2_img_1_2 {
    
  }
  #bridge_2_img_1_3 {
    
  }
  #bridge_2_img_1_4 {
    
  }
  #bridge_2_img_4_1 {

  }
  #bridge_2_img_4_2 {
    
  }
  #bridge_2_img_4_3 {
    
  }
  #bridge_2_img_4_4 {
    
  }
  #bridge_2_img_4_5 {
    
  }
  #bridge_2_img_4_6 {
    left: 86.37%;
    bottom: -25px;
  }
}
/* Section 2 */

#section_2 {
  background-image: url("images/night_back.png");
  height: 1080px;
  background-position-x: center;
}

#brands_div_2 {
  margin-top: 72px;  
}
.brand_name_2 {
  color: var(--lightbrown);
}
.brand_inner_div_2 {
  background-image: url("images/brand_back_2.svg");
}
.brand_txt_2 {
  color: var(--offwhite1);
}

.side_photos_div_2 {
  margin-top: 48px;
}

@media all and (min-width: 1921px)
{
  #section_2 {
    background-size: 100%;
  }
}